<!DOCTYPE html>

<html lang='ar' dir="rtl">
<head>

<title>طالب</title>
<meta name="google-site-verification" content="Zz3y23vIEstRqHHpAgiPDxSg6_HXcQEmXoYGgMIyYQI" />
<meta property="og:title" content="منصة طالب">
<meta property="og:url" content="https://taleb.sitevip.org">
<meta property="og:description" content="">
<meta property="og:image" itemprop="image" content="/front/assets/images/tlogo.png">
<meta property="og:image:secure"  itemprop="image" content="/front/assets/images/tlogo.png">
<meta property="og:site_name" content="student">
<meta property="og:locale" content="ar_EG">
<meta property="og:locale:alternate" content="ar_EG">
<meta name="robots" content="">

<meta property="og:updated_time" content=" 1741737729" />

<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="front/assets/images/logo-new.jpg" type="image/x-icon">

<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
<meta name="viewport" content="width=device-width">
<meta name="google-play-app" content="app-id=com.madrasty.app">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="android-touch-icon" href="front/assets/images/footer-logo.png" />

    <title>student_</title>


<script type="application/ld+json">{"@context":"https:\/\/schema.org","@type":"WebPage","name":"Over 9000 Thousand!","description":"For those who helped create the Genki Dama"}</script>



    <!-- Google Tag Manager -->

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':

            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],

            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=

            '../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);

        })(window,document,'script','dataLayer','GTM-WDZ754N');</script>

    <!-- End Google Tag Manager -->

    <!-- Hotjar Tracking Code for madrasty.com -->


    <script>


//        (function(h,o,t,j,a,r){
//
//            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
//
//            h._hjSettings={hjid:2407044,hjsv:6};
//
//            a=o.getElementsByTagName('head')[0];
//
//            r=o.createElement('script');r.async=1;
//
//            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
//
//            a.appendChild(r);
//
//        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

    </script>

    

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-436110070"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date()); gtag('config', 'AW-436110070');
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-192516565-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-192516565-1');
    </script>



    <meta http-equiv="Access-Control-Allow-Origin" content="*">




<link rel="icon" type="image/ico" href="front/favst.ico?v=5">

<link rel="stylesheet" href="front/dist/fonts/font-awesome-4.7.0/css/font-awesome.min.css">




<link rel="stylesheet" href="front/dist/styles/style.rtlc164.css?v=9">
<link rel="preload" href="front/dist/styles/style.rtlc164.css?v=9" as="style">





    <style>
        .btn-google {
            background-size: 80%!important;
            min-width: 170px!important;
            min-height: 50px!important;
            background: #000 url(front/Download-Madrasty-App.png) no-repeat center center;
        }
   .btn-apple {
            background-size: 80%!important;
            min-width: 170px!important;
            min-height: 50px!important;
            background: #000 url(front/Download-Madrasty-on-Apple-03.png) no-repeat center center;
        }

    .auto-style1 {
	font-size: 60px;
}

    </style>


 <!--   الراس   -->


</head>


<body class='rtl' style="">

<input type="hidden" class="csrf_input_class" value="Nv7Y3rWvRXZL9pkFjWDC1zu15ycWD03pI3WJhWmw">
<input type="hidden" class="url_class" value="eg-ar.html">
<input type="hidden" class="url_class_public" value="index.html">

    
<header class="header-top lg-header  ">
    <nav class=" justify-content-between navbar navbar-expand-lg px-0
             container-fluid px-2 px-md-4 pt-md-4">
        <a class="navbar-brand pr-0 pr-md-3" href="eg-ar.html">
                  <span class="d-none d-lg-block">
                      <img src="front/dist/images/tlogo.png" alt=" " class="logo img-fluid " height="425" width="425">
                 </span>
	            <span class="d-block d-lg-none">
                        <img src="front/dist/images/tlogo.png" alt=" " class="logo img-fluid " style="width: auto">
                    </span>
        </a>

                    <a href="eg-ar/login.html" class="d-lg-none d-flex btn btn-sec-border px-4 " style="width: 37px; color: #FFFF00; background-color: #79121C;"> تسجيل الدخول </a>
                    <a class="px-2 " id="lang-bar" style="color: #ffff" href="" > En</a>
                        <span style="color: #ffff">|</span>
                    <a class="px-2 active" id="lang-bar" style="color: #ffff" href="eg-ar.html" > Ar</a>
                        <span style="color: #02b186"></span>


     <!--   الراس   -->    
    <div class="nav allNav px-3 py-md-0 py-3 d-flex flex-grow-1 flex-md-row-reverse justify-content-md-between" id="navbarText">
            <div class="user-side align-items-start  navbar-nav ">
                  <a class="p-1 px-2 register btn  btn-sec  ml-2" href="eg-ar/login.html" style="color: #FFFF00; background-color: #79121C">تسجيل الدخول </a>
      		</div>
            <ul class="align-items-center justify-content-between navbar-nav ">

<!--  الرئيسية   -->
                <li class="nav-item   ">
                    <a class="nav-link " href="eg-ar.html" style="right: 0px; top: 0px; color: #FFFF00;"  > <strong>الرئيسية </strong> </a>
                    <div class="p-0 dropdown-menu main text-center overflow-hidden">
                        <ul class="sub-menu p-0 text-left text-white">					   </ul>
                    </div>
                </li>

 <!--   عن المنصة   -->
                 <li class="nav-item   ">
                    <a class="nav-link " href="eg-ar/about-us.html"  >	عن <span lang="ar-kw">المنصة</span></a>
       				<div class="p-0 dropdown-menu main text-center overflow-hidden">
	                        <ul class="sub-menu p-0 text-left text-white"></ul>
                    </div>
                </li>
<!--   الفيديوهات   -->
                  <li class="nav-item   ">
                        <a class="nav-link " href="eg-ar/video.html"  > الفيديوهات</a>
                        <div class="p-0 dropdown-menu main text-center overflow-hidden">
                            <ul class="sub-menu p-0 text-left text-white"> </ul>
                        </div>
                    </li>
<!--   music   -->
			   <li class="nav-item   ">
                    <a class="nav-link " href="mediaPage/music.html"  >&nbsp;</a>
                   	<div class="p-0 dropdown-menu main text-center overflow-hidden">
                        <ul class="sub-menu p-0 text-left text-white"> </ul>
	               </div>
	           </li>
<!--   تواصل معنا   -->
               <li class="nav-item   ">
                  	<a class="nav-link " href="https://line-soft.com" target="_blank">تواصل معنا </a>
                    <div class="p-0 dropdown-menu main text-center overflow-hidden">
                        <ul class="sub-menu p-0 text-left text-white"> </ul>
                    </div>
                </li>
<!-- courses   -->
               <li class="nav-item   ">
                 <a class="nav-link " href="../eg-en/arabic-courses.html"  >&nbsp;</a>
                 <div class="p-0 dropdown-menu main text-center overflow-hidden">
                      <ul class="sub-menu p-0 text-left text-white"> </ul>
                 </div>
                </li>
                    
		  </ul>
   </div>
        <span class="d-block d-lg-none js-nav-toggle nav-toggle text-white"><i></i> </span>
    </nav>
    <div class="menuclose" style="right: 0; top: 0"></div>
</header>

<!-- محتوى الصفحة   -->
    
     <div class='page-container  '>
			         <section class="bg-white  position-relative overflow-hidden px-md-0 px-3  home-master ">

	      <div class="row ">
	          <div class="text-center align-items-center px-3 py-3 px-md-5 justify-content-center  col-lg-5 d-flex  flex-column  text-side">
	                    <h1 class="auto-style1" > منصة طالب</h1>
                <div class="des my-3">
                     <a class='btn-apple  btn  btn-sec mb-3 '   target="_blank" href='https://apps.apple.com/'></a>
                     <a class='btn-google  btn  btn-sec mb-3 '   target="_blank" href='https://play.google.com/store/apps/'></a>
                </div>
                    <div class="des my-3"> منصة تعليمية توفر متابعة متكاملة <br>لحضور وغياب وسلوك الطالب  </div>
             </div>
          <div class="order-first order-lg-last align-items-center align-items-md-baseline col-lg-7 d-flex  flex-column pr-md-0 my-1 side img-side">
                 <img class="img-banner mob-banner  img-fluid d-md-none" src="front/assets/images/banner2.jpg" loading="lazy" height="533" width="800">
                    <img class="img-banner lg-banner d-none img-fluid d-md-block" src="front/assets/images/banner2.png" loading="lazy" height="533" width="800">
                </div>
		 </div>

        </section>


        <section class="bg-light">
            <div class="container position-relative overflow-hidden  py-4">
                <div class="row align-items-center">
                    <div class="col-md-7 p-md-5 mx-auto text-center mb-md-0 mb-3">
                        <img src='dist/images/img-0.jpg' alt='' class='img-fluid ' loading="lazy" />
                    </div>
                    <div class="col-md-5 bold text-center text-md-left">
                        <h2 class="sec-title mb-3"> تعريف &quot;&#39;بالمنصة&quot;</h2>
                        <div class='  '>
                            طالب هي منصة تعليمية تقدم تجربة مبتكرة لمتابعة سلوك 
							الطالب في المدرسة ورصد حضوره وغيابه بصورة مباشرة من 
							داخل الحصة واستخراج التقارير الفورية التى تجعل 
							التواصل بين المعلم وادارة المدرسة وولى 
							الامر عملا يسيرا، وذلك بالإضافة إلي خدمات أخري مثل الحصص اللايف ،وتوفير                                       
 						   الملفات والاشعارات واصدار التقارير الالكترونية .                                     
                        </div>
                        <a class='btn  btn-sec mt-3' href='eg-ar/about-us.html'> اعرف أكثر </a>
                    </div>
                </div>
            </div>
        </section>



        <section class=" position-relative  bold text-center   three-sides-text ">
            <div class="row ">
                <div class="col-md-4  mb-2 side pb-3  d-flex flex-column align-items-center justify-content-between">
                    <div class="w-100">
                        <div class="img-wrap bg-main2 p-3">
                            <img src="dist/images/img-1.png" alt="" class="sec-img img-fluid" loading="lazy">
                        </div>
                        <div class="in-details p-4  px-xl-5">
                            <h2 class="sec-title  mt-0 mb-2"> الفيديوهات </h2>
                            <div class="mb-3  desc small">نحن نؤمن بأهمية 
								الاستخدام السلس لما نقدمه من محتوى، لذلك تم تصميم مقاطع الفيديو المتوفرة على منصة 
								طالب لتكون غير تقليدية وقصيرة و سهلة الاستيعاب لضمان فهم 
								النظام ,وشرح اخر المستحدثات...
                                <a href="'eg-ar/video.html'">المزيد</a>
                            </div>


                        </div>
                    </div>
                    <a class="btn  btn-sec " href="eg-ar/video.html">اعرف أكثر</a>
                </div>


                <div class="col-md-4  mb-2 side pb-3  d-flex flex-column align-items-center justify-content-between">
                    <div class="w-100">
                        <div class="img-wrap bg-white p-3">
                            <img  src="dist/images/img-2.png" alt="" class="sec-img img-fluid" loading="lazy">
                        </div>
                        <div class="in-details p-4  px-xl-5">
                            <h2 class="sec-title  mt-0 mb-2"> رصد الحضور والغياب</h2>
                            <div class="mb-3  desc small">تقدم منصة طالب طريقة 
								مبتكرة للرصد الفوري للحضور في الحصة من هاتف 
								المعلم وبالضغط السريع على خانة الغائب فقط في كل 
								حصة على حدة مع حفظ اسم المعلم وماائيا .</div>

                        </div>
                    </div>
                    <a class="btn  btn-sec "href="eg-ar/about-us.html">اعرف أكثر</a>
                </div>


                <div class="col-md-4  mb-2 side pb-3  d-flex flex-column align-items-center justify-content-between">
                    <div class="w-100">
                        <div class="img-wrap bg-sec p-3">
                            <img src="dist/images/img-3.png" alt="" class="sec-img img-fluid" loading="lazy">
                        </div>

                        <div class="in-details p-4  px-xl-5">

                            <h2 class="sec-title  mt-0 mb-2">مزايا اضافية</h2>
                            <div>تحتوى المنصة على غرف اونلاين تمكن الادارة من 
								الاجتماع اونلاين مع الهيئة التعليمية او الادارية 
								او رؤساء الاقسام بضغطة واحدة&nbsp; ودون الحاجة 
								للتسجيل من الطرفين. وكذلك الاجتماع بين المعلم 
								وطلابه اونلاين .</div>


                        </div>
                    </div>
                    <a class="btn  btn-sec " href="eg-ar/about-us.html">
                        اعرف أكثر </a>
                </div>


            </div>
        </section>


                
        <section class=" position-relative overflow-hidden  ">
            <div class="container mb-3 mb-md-0 p-3 py-md-5 ">
                <h2>الاخبار</h2>
                <div class='  '></div>
                <div class="multiple-items py-4 py-md-0 med-font my-3 px-md-4 med-items teachers-slider n-slider ">
                                            <div class="item teacher bold  p-md-3 px-2 text-center">
    <div class="w-100">
        <div>
            <img src="media/instructors/p1.jpg" alt="" class="img-fluid rounded-circle mx-auto"
                 loading="lazy">
        </div>
        <h3>
          غياب وتاخيرالطالب 

        </h3>
        <h4 class="small my-1">
                <p>حصة بحصة </p>
        </h4>
        <h4> منصة طالب</h4>
        <span class="small">  منصة طالب </span>

        <div class="rating my-1">
                            <i class="fa fa-star"> </i>
                    </div>
    </div>

    <a hidden class="btn-sec   btn px-3 my-2" href="eg-ar.html"> تفاصيل أكتر</a>
</div>

                 <div class="item teacher bold  p-md-3 px-2 text-center">
    
    
    <div class="w-100">
        <div>
            <img src="media/instructors/p1.jpg" alt="" class="img-fluid rounded-circle mx-auto"
                 loading="lazy">
        </div>
        <h3>
          مكتبة الكترونية
        </h3>
        <h4 class="small my-1">
                <p><span dir="RTL">متنوعة المصادر &nbsp;</span></p>
        </h4>
        <h4> منصة طالب</h4>
        <div class="rating my-1">
                            <i class="fa fa-star"> </i>
                    </div>
    </div>
    
    
    
    
    <a hidden class="btn-sec   btn px-3 my-2" href="eg-ar.html"> تفاصيل أكتر</a>
</div>
                            <div class="item teacher bold  p-md-3 px-2 text-center">
    <div class="w-100">
        <div>
            <img src="media/instructors/p1.jpg" alt="" class="img-fluid rounded-circle mx-auto"
                 loading="lazy">
        </div>
        <h3>
          غرفة اونلاين
        </h3>
        <h4 class="small my-1">
                <p><span dir="RTL">&nbsp;للمعلم مع طلابه&nbsp;</span></p>
        </h4>
        <h4> منصة طالب</h4>
        <span class="small">  متاحة لكل الهيئة التعليمية </span>
        <div class="rating my-1">

        <div class="rating my-1">
                            <i class="fa fa-star"> </i>
                    </div>

    </div>

    <a hidden class="btn-sec   btn px-3 my-2" href="eg-ar.html"> تفاصيل أكتر</a>
</div>

             </div>
	       </div>

 </div>

		        </section>	
                
   
        <section class="text-center  stay-connected overflow-hidden">
    <div class="text p-md-5 p-3">
        <div class='lg-font' style="font-size: 1.3em !important;">
            <h2> تجربة تعليمية جديدة </h2>
            
        </div>

                <a class='btn  btn-sec my-3 my-md-4 mb-md-0 btn-sec btn-apple '   target="_blank" href='https://apps.apple.com/'></a>

        <a class='btn  btn-sec my-3 my-md-4 mb-md-0 btn-sec btn-google' target="_blank" href='https://play.google.com/store/'>  </a>

   </div>

</section>
      
    
    
    <!-- footer -->
  
 
 <footer class="">
    <div class="top px-3">
        <div class="container ">
            <div class="align-items-center flex-column-reverse flex-md-row row">
                <div class="col-md-2 py-1 ">
                    <div class="social d-flex justify-content-center align-items-center ">
                        <a class='ico mx-1' href="https://iwtsp.com/96550602038">  
                            <i class="fa fa-whatsapp"></i> 
                        </a>
                      <a class='ico mx-1' href="https://www.facebook.com/">  
					    <i class="fa fa-facebook"></i> 
					</a>
                        <a class='ico mx-1' href="https://www.youtube.com/">  
                            <i class="fa fa-youtube"></i> 
                        </a>
                    </div>
                </div>
                <div class="col-md-8 py-1 ">
                    <ul class="d-flex flex-wrap align-items-center justify-content-center links list-inline mb-0 ">
                        <!-- يمكن إضافة روابط هنا -->
                    </ul>
                </div>
                <div class="col-md-2 d-inline-flex justify-content-center py-1 ">
                    <a class="navbar-brand" href="index.html">
                        <img src="front/dist/images/tlogo.png" alt=" " class="logo img-fluid ">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom py-2 py-md-4">
        <div class="text-center">
            <span>
                <a class="py-1" href='ar/pages/conditions_policy.html'>الشروط و الأحكام</a> /
                <a class="py-1" href='ar/pages/conditions_policy.html'>سياسة الخصوصية</a>
                <br>
                <a class="py-1" href="https://line-soft.com" target="_blank">جميع الحقوق محفوظة © 2025 line-soft.com</a>
            </span>
        </div>
    </div>
</footer>

     <!-- footer end-->
     
     
     
     
  <script src="front/dist/scripts/main.minc164.js?v=9"></script>
<script src="jsCode/config.js"></script>
<script id="ze-snippet" src="../static.zdassets.com/ekr/snippet7767.js?key=723e52e9-be86-41b7-92ed-b1815e0dfa6b"> </script>

<!-- End of madrastyhelp Zendesk Widget script -->


    <script src="front/assets/js/jquery.countdown.min.js"></script>
    <script src="madrasty/admin/assets/js/sweetalert/sweetalert2.js"></script>

    <script>
$("#rememberCheck").change(function() {
    if(this.checked) {
        $(this).val(1);
    }else{
        $(this).val(0);
    }
});


</script>

    <script>
        $(function() {
            $('[data-countdown]').each(function() {
                var $this = $(this),
                    finalDate = $(this).data('countdown');
                $this.countdown(finalDate, function(event) {
                    var session_status = $(this).data('status');

                    if(event.strftime('%D') == 0
                        && event.strftime('%H') == 0
                        && event.strftime('%M') == 0
                        && event.strftime('%S') == 0){

                        if(session_status === 'close'){
                            $this.html('<span style="color: white;background-color: red;font-size: 20px;">انتهت الحصة</span>');
                        }else{

                            $this.html('<span style="color: white;background-color: red;font-size: 20px;">مباشر الآن</span>');

                        }
                    }else{

                        $this.html('<span style="font-size: 17px;">الوقت المتبقي</span><br>'+event.strftime('%D days %H:%M:%S'));

                    }
                    console.log(event.strftime)
                });
            });
        });
    </script>



    <!-- GetButton.io widget -->

<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","licenseKey":"NRJS-c298c984c06e76c915c","applicationID":"584359217","transactionName":"ZQFSbEJVW0dYAhcIC1xLcVtEXVpaFiATETh6EERIbHdaWk0TDA0IVxZDZHZGWlpNPSsOCVcnX1ZERlpYVQQRIQ1cAFVA","queueTime":0,"applicationTime":3862,"atts":"SUZRGgpPSEk=","errorBeacon":"bam.nr-data.net","agent":""}</script></body>

